///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #222;
$secondary-color: #f00;
$hover-link: rgb(254, 199, 136);

$flat-stroke: #05ff00;
$flat-fill: #04ff0051;
$flat-active-stroke: #04ff00ef;
$flat-active-fill: #04ff0051;
$flat-action: #80D34E;
$flat-booking:  #6B68FF;
$flat-sold:  #D34E4E;
$flat-free: #00DEFC;



